@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url( "https://unpkg.com/aos@2.3.1/dist/aos.css");

@font-face {
    font-family: SF Pro Display;
    src: url(../../public/font/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}
.body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1440px;
    margin: auto;
}



.links{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: capitalize;
    gap: 24px;
    font: 20px sans-serif;
    font-weight: 500;
    margin-left: 25px;
    color: #00000098;
}
a{
    text-decoration: none;
    font-family: Unbounded;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: capitalize;
    font: 20px sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
}

.navbar { 
    position: sticky;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    top: 1px;
    z-index: 1; 
    background-color: white;
}
.navbarLogo{
    max-width: 300px;
    max-height: 80px;
}
.ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: capitalize;
    gap: 20px;
    font: 20px sans-serif;
    font-weight: 500;
    margin-left: 25px;
    color: #00000098;
}
.navbarBtn{
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 20px;
    background: rgb(33, 55, 251);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Unbounded;
}
.navbarBtnn{
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 20px;
    background: rgb(33, 55, 251);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Unbounded;
}
.select {
    background: none;
    border: none;
    margin-right: 60px;
    outline: none;
    font-size: 20px;
    color: #000000a6;
    font-weight: 600;
    border: 2px solid #0000007a;
    padding: 5px 7px;
    border-radius: 10px;
    margin-left: 10px;
}
.navbar-toggler{
    display: none;
}
@media screen and (max-width: 1280px) {
    .navbar{
        max-width: 1280px;
        margin: auto;
        position: sticky;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    top: 1px;
    z-index: 1; 
    background-color: white;

    }
    .navbarLogo{
        width: 250px;
        height: 70px;
    }
    .ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-transform: capitalize;
        gap: 15px;
        font: 20px sans-serif;
        font-weight: 500;
        margin-left: 25px;
        color: #00000098;
    }

.select {
    background: none;
    border: none;
    margin-right: 20px;
    outline: none;
    font-size: 20px;
    color: #000000a6;
    font-weight: 600;
    border: 2px solid #0000007a;
    padding: 5px 7px;
    border-radius: 10px;
    margin-left: 10px;
}
    .navbarBtn{
        width: 150px;
        height: 60px;
        color: #fff;
        border-radius: 25px;
        padding: 10px 15px;
        font-weight: 500;
        font-size: 20px;
        background: rgb(33, 55, 251);
        cursor: pointer;
        transition: all 0.3s ease;
        font-family: Unbounded;
    }
    .body{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 1280px;
        margin: auto;
    }

}

@media screen and (max-width : 1080px) {
    .navbar-toggler{
       display: flex;
    }
    .ul{
        display: none;
    }
    .navbarBtn{
        display: none;
    }
}
    
